@model DataAccess.Model.User
@{
    ViewBag.Title = "Header";
}

@if (Model != null)
{
    <li><a href="@Url.Action("Logout","Login")">Odhlásit</a></li>
}
else
{
    <li class="hidden-md hidden-sm hidden-lg"><a href="@Url.Action("Index","Login")">Přihlásit</a></li>
    <li class="dropdown hidden-xs">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Login <b class="caret"></b></a>
        <ul id="dropped-menu" class="dropdown-menu " role="menu">
            <li>
                @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" placeholder="Heslo" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-danger">Přihlásit</button>
                        </div>
                    </div>
                }
            </li>
        </ul>
    </li>
}
